<p></p>
<h3 style="display: inline;">Here Are All the Currently Registered Students:</h3> <h3 style="display: inline;"><a href="/students/new">register new</a></h3>
<p></p>


<% students = Student.all %>
<% students.each do |student| %>
  <h4 style="display:inline-block; width: 200px; height: 1px"><a href="/students/<%= student.id %>"><%= student.student_id %> <%= student.firstname %> <%= student.lastname %> </a></h4> 
  <h4 style="display: inline;">registered at: <%= student.created_at %></h4> 

  <form action="/students/<%= student.id %>" method="post" style = "display: inline;">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>

  <form action="/students/<%= student.id %>/edit" method="get" style = "display: inline;">
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>

  <p></p>
<% end %>




